@import "tailwindcss";

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.book-search {
    width: 100%;
    max-width: 56rem;
    display: flex;
    gap: 1.5rem;
    transition: all 0.1s ease;
}

.book-search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    transition: all 0.2s ease;
}

.book-search-input::placeholder {
    color: var(--text-tertiary);
}

.book-search-input:focus:not(.input-error) {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-primary), var(--shadow);
    transform: scale(1.05);
}

.book-search-input.input-error {
    border-color: var(--color-danger);
}

.book-search-input.input-error:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 0 0 2px var(--color-danger), var(--shadow);

}

.book-search-button {
    padding: 0.5rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-weight: 500;
    transition: all 0.1s ease;
    cursor: pointer;
}

.book-search-button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
}

.book-search-button:active {
    background-color: var(--color-secondary);
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}