@import "tailwindcss";

.book-card {
    background: linear-gradient(135deg, var(--bg-primary), var(--bg-secondary), var(--bg-tertiary));
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
    background: linear-gradient(135deg, var(--bg-secondary), var(--bg-tertiary), var(--bg-primary));
    transition-duration: 250ms;
    cursor: pointer;
}

.book-card:has(.skeleton-title) {
    cursor: default;
    pointer-events: none;
}